<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carousel</title>
    <head th:include="partials/head :: headStylesheets">
    </head>
<body>

<section class="carousel slide" data-ride="carousel" id="postsCarousel">
    <div class="container p-t-0 m-t-2 carousel-inner">
      <div class="row row-equal carousel-item active m-t-0 cardContainerCarousel">





      </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <a class="btn btn-outline-secondary prev" href="" title="go back"><i
                class="fa fa-lg fa-chevron-left"></i></a>
        <a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
</section>

<footer th:include="partials/footer :: footer"></footer>
</body>
</html>