#body {
    background-color: #2E2EFE;
}

.collectionCards{
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-items: center;

}

.collection_image{
    width: 250px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
}