@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("TrueType");
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", serif;
}

.title{
    width: 90%;
    margin: 2em auto 0em auto;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}

.explanation{
    width: 70%;
    margin: 2em auto 0 auto;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: large;
    overflow-wrap: break-word;
}

.form{
    width: 70%;
    margin: 1em auto 3em auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.btn-select{
    line-height: 1.5;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background: #6c757d;
    color: white;
    font-weight: bold;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border: #6c757d 1px solid;
    padding: .375rem .75rem;
    font-size: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.formLabel{
    display: flex;
    align-self: center;
    width: 100%;
    padding: 5px 5px 0 5px;
    font-weight: bold;
    font-size: x-large;
}

#userInputtedUrl{
    display: flex;
    padding: 5px;
    color: white;
    text-outline: 1px royalblue;
    font-weight: bold;
    font-size: large;
}

.btn-submit{
    display: flex;
    align-self: flex-start;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: large;
}

.video-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 75%;
    height: 0;
    padding-bottom: 56.25%;
    background: #6c757d;
}


#videoPlayer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

form{
    width: 80% !important;
}

.captions{
    font-weight: bold;
    font-size: large;
    color: white;
    text-outline: 1px royalblue;
    font-family: "Montserrat", serif !important;
}

.captions-background{
    display: flex;
    align-self: center;
    width: 100%;
    height: 10em;
    margin: 5px 20px 5px 20px;
    padding: 20px;
    background: lightgrey;
}

/*code for the progress bar*/

.progress-background{
    margin-bottom: 10px;
    width: 100%;
    height: 20px;
    background-color: #313139;
    /*position: fixed;*/
    bottom: 0;
    border-radius: .25em;
}
.progress-bar{
    width: 2px;
    height: 20px;
    background-color: #fa1d57;
    /*position: fixed;*/
    bottom: 0;
    border-radius: .25em;
}


.bar{
    height: 80px;
    width: 100%;
    background-color: #15151d;
}

.counter-background{
    width: 100%;
    height: 100%;
    background-color: #b1b1d0;
    bottom: 0;
}

.notFilled{
    background: rgba(253, 182, 192, 0.91) !important;
}

.notFilled::placeholder {
    color: #b63939;
    /*opacity: .8;*/
}

div#Yt{
    display: flex;
    align-self: center;
    margin: auto;
    width: 1728px;
    padding: 35px 35px 0 5px;
    font-weight: bold;
    font-size: x-large;
}

div#yResults{
    display: flex;
    align-self: center;
    margin: auto;
    width: 1728px;
    padding: 5px 5px 0 5px;
}

p#get0:hover{
    background-color: #A0A0A0;
}

p#get1:hover{
    background-color: #A0A0A0;
}

p#get2:hover{
    background-color: #A0A0A0;
}

p#get3:hover{
    background-color: #A0A0A0;
}

p#get4:hover{
    background-color: #A0A0A0;
}

p#get0:active{
    background-color: pink;
}

p#get1:active{
    background-color: pink;
}

p#get2:active{
    background-color: pink;
}

p#get3:active{
    background-color: pink;
}

p#get4:active {
    background-color: pink;
}



/*#section:empty{*/
/*    filter: sepia(1);*/
/*}*/

/*#collection:empty{*/
/*    filter: sepia(1);*/
/*}*/

.counter{
    font-weight: bold;
    font-size: large;
    color: white;
    text-outline: 1px royalblue;
    font-family: "Montserrat", serif !important;
}


.textField{
    display: flex;
    align-self: center;
    width: 100%;
    background: #908f8f !important;
    font-weight: bold;
    font-size: large;
    color: white;
    text-outline: 1px royalblue;
    font-family: "Montserrat", serif !important;
}

/*TODO Header Styling*/
.signin-btn{
    color: #fff;
    background-color: #787878;
    border-radius: 50%;
    padding: 0;
    width: 7em;
    height: 7em;
}

.search-btn{
    color: #fff;
    background-color: #787878;
    border-radius: 50%;
    align-content: center;
    padding: 1px;
    width: 3em;
    height: 3em;
}

.search-icon{
    font-size: large;
    position: relative;
    top: -3px;
    left: -2px;
}

.search-frame{
    color: #fff !important;
    background-color: #787878 !important;
}

.Cbanners{
    font-size: 2vw;
}

/*TODO card grid system*/

.resultsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    margin: 10px auto 25px auto;
    perspective: 700px;
    row-gap: 5%;
    column-gap: 12%;
}

#buttonContainerProfile {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#buttonContainerProfile>* {
    text-align: center;
}

.card-text{

}

.CTitle{
    text-align: center;
    word-wrap: break-word;
    font-size: 2vw;
    font-weight: bolder;
}

.CDescrip{
    border-top: #444444 solid 2px;
    text-align: Center;
    font-size: 1.5vw;
}

.CUser{
    text-align: center;
    font-size: 1vw;
}

.CSections{
    padding: 10px;
    text-align: left;
    font-size: 1vw;
    color: white;
}

.Ctop-card{
    background: rgba(239, 239, 239, 0.59);
}

.card {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    width: 20vw;
    background: #787878;
}

/*TODO animated logo*/

/* Animation */
.annotation {
    position: relative;
    /*border-right: solid 3px rgba(0,255,0,.75);*/
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    font-size: 40px;
    top:10px;
    color: rgba(255,255,255,.70);
    animation: animated-text 3s steps(29) 1s 1 normal both,
    animated-cursor-right 600ms steps(29) infinite;
}

/* text animation */

@keyframes animated-text{
    from{width: 0;}
    to{width: 250px;}
}

/* cursor animations */

@keyframes animated-cursor-right{
    from{border-right-color: rgba(0,255,0,.75);}
    to{border-right-color: transparent;}
}

.wrapper{
    display: flex;
}
.wrapper .static-txt{
    color: #fff;
    font-size: 40px;
    font-weight: 100;
}
.wrapper .dynamic-txts{
    /*margin-left: 1px;*/
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.station-word{
    visibility: hidden;
    font-family: 'Source Code Pro', monospace;
    color: #FC6D6D;
    font-size: 40px;
    font-weight: 100;
    position: absolute;
    top: 13px;
    left: 270px;
    /*animation: reveal 1s linear 20s;*/
    animation-name: reveal;
    animation-duration: 1s;
    animation-timing-function: steps(1);
    animation-delay: 23s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes reveal {
    100%{
        visibility: visible;
    }
}

.dynamic-txts li{
    list-style: none;
    font-family: 'Source Code Pro', monospace;
    color: #FC6D6D;
    font-size: 40px;
    font-weight: 100;
    position: relative;
    top: 0;
    animation: slide 20s steps(4) 4s;
}

@keyframes slide {
    100%{top: -360px;}
}
.dynamic-txts li span{
    position: relative;
    left: -30px;
    margin: 5px 0;
    line-height: 90px;
}
.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    height: 100%;
    width: 100%;
    background: #272727;
    border-left: 3px solid rgb(183, 110, 25);
    animation: typing 20s steps(32) 4s, animated-cursor-left 600ms steps(60) infinite;
    /*animation-delay: typing 4.1s;*/
    /*animation-iteration-count: 1;*/
    /*animation-play-state: paused;*/
}
@keyframes animated-cursor-left{
    from{border-left-color: rgb(183, 110, 25);}
    to{border-left-color: transparent;}
}
@keyframes typing {
    0%  {left: calc(0%); }
    12.5% {left: calc(100% + 10px);}
    25% {left: calc(0%); }
    37.5% {left: calc(100% + 10px); }
    50% {left: calc(0%); }
    62.5% {left: calc(100% + 10px); }
    75% {left: calc(0%); }
    87.5%{left: calc(100% + 10px); }
    95% {background: rgba( 39, 39, 39, 100);}
    100%{background: rgba( 39, 39, 39, 0); }
}


    /*90%{ transform: rotate(-180deg) translateY(-100px) rotate(-180deg); opacity:1.0}*/
    /*94%{ transform: translateY(210px); opacity:1.0 }*/
    /*96%{ transform: translateY(205px); opacity:1.0 }*/
    /*100%{ transform: translateY(210px); opacity:1.0 }*/
    /*40%, 60%{*/
    /*    left: calc(100%);*/
    /*}*/
    /*100%{*/
    /*    left: 0;*/
    /*}*/
/*}*/




/*This is the section that enables the balloons*/
/*this is for strength meter*/
#heading
{
    margin-top:150px;
    text-align:center;
    font-size:27px;
    color:#2E2EFE;
}
#reg_password
{
    margin-left:0%;
    height:35px;
    width:377px;
    border-radius:3px;
    border:1px solid grey;
    padding:10px;
    font-size:18px;
}
#meter_wrapper
{
    border:1px solid grey;
    margin-left:0%;
    margin-top:0px;
    width:202px;
    height:16px;
    border-radius:3px;
}
#meter
{
    width:0px;
    height:14px;
    border-radius:.02em;
}
#pass_type
{
    font-size:16px;
    margin-top:20px;
    margin-left:0%;
    text-align:center;
    color:grey;
}
/*end strength meter*/
:root {
    --balloon-border-radius: 2px;
    --balloon-color: rgba(241, 6, 6, 0.95);
    --balloon-text-color: #fff;
    --balloon-font-size: 20px;
    --balloon-move: 10px; }




button[aria-label][data-balloon-pos] {
    overflow: visible; }

[aria-label][data-balloon-pos] {
    position: relative;
    cursor: pointer; }
[aria-label][data-balloon-pos]:after {
    opacity: 0;
    pointer-events: none;
    transition: all 0.18s ease-out 0.18s;
    text-indent: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-shadow: none;
    font-size: var(--balloon-font-size);
    background: var(--balloon-color);
    border-radius: 2px;
    color: var(--balloon-text-color);
    border-radius: var(--balloon-border-radius);
    content: attr(aria-label);
    padding: .5em 1em;
    position: absolute;
    white-space: nowrap;
    z-index: 10; }
[aria-label][data-balloon-pos]:before {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: var(--balloon-color);
    opacity: 0;
    pointer-events: none;
    transition: all 0.18s ease-out 0.18s;
    content: "";
    position: absolute;
    z-index: 10; }
[aria-label][data-balloon-pos]:hover:before, [aria-label][data-balloon-pos]:hover:after, [aria-label][data-balloon-pos][data-balloon-visible]:before, [aria-label][data-balloon-pos][data-balloon-visible]:after, [aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:before, [aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:after {
    opacity: 1;
    pointer-events: none; }
[aria-label][data-balloon-pos].font-awesome:after {
    font-family: FontAwesome, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
[aria-label][data-balloon-pos][data-balloon-break]:after {
    white-space: pre; }
[aria-label][data-balloon-pos][data-balloon-break][data-balloon-length]:after {
    white-space: pre-line;
    word-break: break-word; }
[aria-label][data-balloon-pos][data-balloon-blunt]:before, [aria-label][data-balloon-pos][data-balloon-blunt]:after {
    transition: none; }
[aria-label][data-balloon-pos][data-balloon-pos="up"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:after, [aria-label][data-balloon-pos][data-balloon-pos="down"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos="down"][data-balloon-visible]:after {
    transform: translate(-50%, 0); }
[aria-label][data-balloon-pos][data-balloon-pos="up"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:before, [aria-label][data-balloon-pos][data-balloon-pos="down"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos="down"][data-balloon-visible]:before {
    transform: translate(-50%, 0); }
[aria-label][data-balloon-pos][data-balloon-pos*="-left"]:after {
    left: 0; }
[aria-label][data-balloon-pos][data-balloon-pos*="-left"]:before {
    left: 5px; }
[aria-label][data-balloon-pos][data-balloon-pos*="-right"]:after {
    right: 0; }
[aria-label][data-balloon-pos][data-balloon-pos*="-right"]:before {
    right: 5px; }
[aria-label][data-balloon-pos][data-balloon-pos*="-left"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos*="-left"][data-balloon-visible]:after, [aria-label][data-balloon-pos][data-balloon-pos*="-right"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos*="-right"][data-balloon-visible]:after {
    transform: translate(0, 0); }
[aria-label][data-balloon-pos][data-balloon-pos*="-left"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos*="-left"][data-balloon-visible]:before, [aria-label][data-balloon-pos][data-balloon-pos*="-right"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos*="-right"][data-balloon-visible]:before {
    transform: translate(0, 0); }
[aria-label][data-balloon-pos][data-balloon-pos^="up"]:before, [aria-label][data-balloon-pos][data-balloon-pos^="up"]:after {
    bottom: 100%;
    transform-origin: top;
    transform: translate(0, var(--balloon-move)); }
[aria-label][data-balloon-pos][data-balloon-pos^="up"]:after {
    margin-bottom: 10px; }
[aria-label][data-balloon-pos][data-balloon-pos="up"]:before, [aria-label][data-balloon-pos][data-balloon-pos="up"]:after {
    left: 50%;
    transform: translate(-50%, var(--balloon-move)); }
[aria-label][data-balloon-pos][data-balloon-pos^="down"]:before, [aria-label][data-balloon-pos][data-balloon-pos^="down"]:after {
    top: 100%;
    transform: translate(0, calc(var(--balloon-move) * -1)); }
[aria-label][data-balloon-pos][data-balloon-pos^="down"]:after {
    margin-top: 10px; }
[aria-label][data-balloon-pos][data-balloon-pos^="down"]:before {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: var(--balloon-color); }
[aria-label][data-balloon-pos][data-balloon-pos="down"]:after, [aria-label][data-balloon-pos][data-balloon-pos="down"]:before {
    left: 50%;
    transform: translate(-50%, calc(var(--balloon-move) * -1)); }
[aria-label][data-balloon-pos][data-balloon-pos="left"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos="left"][data-balloon-visible]:after, [aria-label][data-balloon-pos][data-balloon-pos="right"]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos="right"][data-balloon-visible]:after {
    transform: translate(0, -50%); }
[aria-label][data-balloon-pos][data-balloon-pos="left"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos="left"][data-balloon-visible]:before, [aria-label][data-balloon-pos][data-balloon-pos="right"]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos="right"][data-balloon-visible]:before {
    transform: translate(0, -50%); }
[aria-label][data-balloon-pos][data-balloon-pos="left"]:after, [aria-label][data-balloon-pos][data-balloon-pos="left"]:before {
    right: 100%;
    top: 50%;
    transform: translate(var(--balloon-move), -50%); }
[aria-label][data-balloon-pos][data-balloon-pos="left"]:after {
    margin-right: 10px; }
[aria-label][data-balloon-pos][data-balloon-pos="left"]:before {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: var(--balloon-color); }
[aria-label][data-balloon-pos][data-balloon-pos="right"]:after, [aria-label][data-balloon-pos][data-balloon-pos="right"]:before {
    left: 100%;
    top: 50%;
    transform: translate(calc(var(--balloon-move) * -1), -50%); }
[aria-label][data-balloon-pos][data-balloon-pos="right"]:after {
    margin-left: 10px; }
[aria-label][data-balloon-pos][data-balloon-pos="right"]:before {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: var(--balloon-color); }
[aria-label][data-balloon-pos][data-balloon-length]:after {
    white-space: normal; }
[aria-label][data-balloon-pos][data-balloon-length="small"]:after {
    width: 80px; }
[aria-label][data-balloon-pos][data-balloon-length="medium"]:after {
    width: 150px; }
[aria-label][data-balloon-pos][data-balloon-length="large"]:after {
    width: 260px; }
[aria-label][data-balloon-pos][data-balloon-length="xlarge"]:after {
    width: 380px; }
@media screen and (max-width: 768px) {
    [aria-label][data-balloon-pos][data-balloon-length="xlarge"]:after {
        width: 90vw; } }
[aria-label][data-balloon-pos][data-balloon-length="fit"]:after {
    width: 100%; }






/*carousel*/
/*.row-equal .card {*/
/*    width: 100%;*/
/*}*/

/*!* ensure equal card height inside carousel *!*/
/*.carousel-inner>.row-equal.active,*/
/*.carousel-inner>.row-equal.next,*/
/*.carousel-inner>.row-equal.prev {*/
/*    display: flex;*/
/*}*/

/*!* prevent flicker during transition *!*/
/*.carousel-inner>.row-equal.active.left,*/
/*.carousel-inner>.row-equal.active.right {*/
/*    opacity: 0.5;*/
/*    display: flex;*/
/*}*/


/*!* control image height *!*/
/*.card-img-top-250 {*/
/*    max-height: 250px;*/
/*    overflow:hidden;*/
/*}*/


/*.card-header{color:dodgerblue}*/