<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet"/>-->
    <!--    <link href="/../../css/collectionPageStyle.css" rel="stylesheet">-->
    <link href="/../../css/style.css" rel="stylesheet">
    <link href="/../../css/profilePageStyle.css" rel="stylesheet">
    <link href="/../../css/editPage.css" rel="stylesheet">


    <meta charset="UTF-8">
    <title>Profile Page</title>

</head>
<body>
<nav th:replace="partials/header :: navbar"></nav>
<div class=container>
    <div class="row">
        <div class="p-4 m-4 shadow-4 rounded-3 jumbotron text-center" style='background-color: white;
                    font-family: American Typewriter, serif;
                    color: black'>
            <h1>EDIT YOUR COLLECTION</h1>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-1"></div>
    <div class="col-5">
        <img src="" id="DisplayImage" class="img-fluid shadow-4 rounded-5 EImage">
    </div>
    <div class="col-5">
        <form class='editForm shadow-4 rounded-5' th:action="@{/collections/edit/{id}(id=${collection.id})}"
              th:method="POST" th:object="${collection}">
            <div class="row mb-2">
                <label for="collectionTitle" class="col-3 col-form-label">Title</label>
            </div>
            <div class="row mb-2">
                <input th:field="*{title}" type="text" id="collectionTitle" class="rounded" placeholder="Collection's Name">
            </div>

            <div class="row mb-2">
                <label for="collectionDescr" class="col-3 col-form-label">Description</label>
            </div>
            <div class="row mb-2">
            <textarea id="collectionDescr" th:field="*{description}" rows="2" cols="35" name="description"
                      class="rounded-2" placeholder="Enter Details Here">
         </textarea>
            </div>

            <div class="row mb-2">
                <label for="Url" class="col-3 col-form-label">Image Url</label>
            </div>
            <div class="row mb-2">
                <input th:field="*{image}" type="text" id="Url" class="collectionImageUrl rounded-2" placeholder="Image URL">
                <input th:field="*{user}" type="text" style="display: none">
            </div>

            <div class="row mb-3 editSubmitRow">
                <div class="col-8 ">
                    <div class="row">

                        <input th:field="*{is_private}" style='display: none' type="checkbox" id="is_private" value="" class=" rounded-2">
                        <div class="col-4">
                            <div class="btn-group" role="group" aria-label="private public radio">
                                <input type="radio" class="btn-check" name="prtradio" id="private" autocomplete="off">
                                <label class="btn-select btn-primary" for="private">Private</label>
                                <input type="radio" class="btn-check" name="pubradio" id="public" autocomplete="off">
                                <label class="btn-select-rt btn-primary" for="public">Public</label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <input type="submit" value="Submit Edit" id="editButton" class="btn btn-primary">
                </div>

            </div>
        </form>
    </div>
</div>




<div id="Yt2" class="row YTcontainer p-4 m-4 shadow-4 rounded-3 jumbotron">
    <h3 style="color: black; text-align: start"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Search YouTube and select an image
        for your collection</h3>
    <div class="input-group mb-3 YTInput">

        <button type="submit" class="btn-select btn-secondary" id="submitYt">
            Search
        </button>

        <input id="search" class="form-control textField" name="search" type="text"
               placeholder="type here to search Youtube">
    </div>
    <div id="yResults">
        <div class="col">
            <div id="thumbnails"></div>
            <div id="results" value="" class="yResults"></div>
            <br>
        </div>
        <div id="thumbnail"></div>
    </div>
    <input type="text" style="display: none" id="hiddenUrl" value="">
</div>


<br>
<hr>
<footer th:include="partials/footer :: footer"></footer>

<script src="/../js/youtubeImages.js" rel="script"></script>

</body>
</html>
