<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="google-signin-client_ID"
          content="365572997645-rksbja6tjvqfd4mua82ummn0hcgdc3e7.apps.googleusercontent.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <title>Annotation Station</title>
</head>
<body>
<nav th:replace="partials/header :: navbar"></nav>

<h1>Edit this collection</h1>
<form th:action="@{/collections/edit/{id}(id=${collection.id})}" th:method="POST" th:object="${collection}">
    <input th:field="*{title}" type="text">
    <input th:field="*{is_private}" type="text">
    <input th:field="*{description}" type="text">
    <input th:field="*{image}" type="text" id="Url">
    <input th:field="*{user}" type="text">
    <input type="submit" name="edit" placeholder="edit">

</form>

<div id="Yt">
    <h1>Youtube images search</h1>
    <input type="text" id="search" placeholder="type here to search Youtube">
    <input type="submit" id="submitYt">
</div>
<div id="yResults">
    <div>
        <div id="thumbnails"></div>
        <div id="results" value=""> </div>
        <br>
    </div>
    <div id="thumbnail"></div>
</div>
<footer th:include="partials/footer :: footer"></footer>

<script src="/../js/youtubeImages.js" rel="script"></script>

</body>
</html>
