<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="partials/head :: headStylesheets">
    <!--    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>-->
    <!--    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>-->
    <meta charset="UTF-8">
    <title>Index</title>
    <!--    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
</head>
<!--<header th:include="partials/footer :: bootStrapFooter_stylingsheet"></header>-->
<body>
<!--nav partial-->

<nav th:replace="partials/header :: navbar"></nav>

<!--<div sec:authorize="isAuthenticated()">-->
<!--    Welcome, <span th:text="${#authentication.principal.username}"/>    `-->
<!--</div>-->
<!--modal-->
<div sec:authorize="!isAuthenticated()"
     class="modal fade"
     id="registerModal"
     tabindex="-1"
     aria-labelledby="registrationModalLabel"
     aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="registrationModalLabel" style="text-align: center">Register</h5>
                <button
                        type="button"
                        class="btn-close"
                        data-mdb-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>


            <div class="modal-body">
                <form th:action="@{/sign-up}" method="post" th:object="${user}">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input required name="first_name" th:type="text" class="form-control" id="firstName"
                               placeholder="Enter First Name"
                               th:field="*{firstName}"/><span th:if="${#fields.hasErrors('firstName')}"
                                                              th:errors="*{firstName}"
                                                              class="text-danger">Enter First Name</span>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input required type="text" class="form-control" id="lastName" placeholder="Enter Last Name"
                               th:field="*{lastName}"/>
                    </div>
                    <div class="form-group">
                        <label for="userName">Username</label>
                        <input required type="text" class="form-control" id="userName" placeholder="Enter Username"
                               th:field="*{username}"/>
                    </div>

                    <div class="form-group">
                        <label for="reg_user_email">Email address</label>
                        <input required type="email" class="form-control" id="reg_user_email"
                               aria-describedby="emailHelp"
                               placeholder="Enter Email" th:field="*{email}"/>
                        <!--                        <p th:text="${errorMessage1}" class="alert-danger"></p>-->
                    </div>
                    <div class="form-group">
                        <label for="reg_password">Password</label>
                        <input required type="password" class="form-control" id="reg_password" placeholder="Password"
                               th:field="*{password}"/>
                        <small>Strength meter</small>
                        <div id="meter_wrapper">
                            <div id="meter"></div>
                        </div>
                        <span id="pass_type"></span>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password</label>
                        <input required type="password" class="form-control" id="confirm_password"
                               placeholder="Confirm Password"/>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="newsLetterCheck"/>
                        <label class="form-check-label" for="newsLetterCheck">Check if you would like to join our
                            newsletter!</label>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                            Close
                        </button>

                        <button type="submit" class="btn btn-primary">Confirm</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--modal ends-->
<div class="p-4 m-4 shadow-4 rounded-3 jumbotron text-center" style="background-color: lightgrey;">
    <h2>WELCOME TO THE STATIONS PUBLIC LIBRARY</h2>
    <br>
    <h3>ENJOY THOUGHTFULLY ASSEMBLED COLLECTIONS OF NOTES</h3>

</div>

<div class="p-4 m-4 shadow-4 rounded-3 jumbotron text-center" style="background-color: lightgrey;">
    <h3>COLLECTIONS CURATED BY OUR ANNOTATION TEAM</h3>
</div>


<div id="cardContainer" class='bg-image hover-overlay ripple resultsContainer' data-mdb-ripple-color='light'></div>

<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-lg-4 col-md-4 mb-4" th:each="Collection: ${collection}">-->
<!--            <div class="card">-->
<!--                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">-->
<!--                    <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" alt="img"/>-->
<!--                    <a href="#">-->
<!--                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title" th:text="${Collection.title}"></h5>-->
<!--                    <p class="card-text" th:text="${Collection.description}">-->
<!--                    <p th:text="${Collection.id}"></p>-->
<!--                    <form th:action="@{'/collections/Id/' + ${Collection.id}}" th:method="get">-->
<!--                    <p><a id="viewCollection" th:href="@{'/collections/Id/' + ${Collection.id}}" class="btn btn-primary" th:method="GET">View Collection</a></p></form>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4 col-md-12 mb-4">-->
<!--            <div class="card">-->
<!--                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">-->
<!--                    <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" alt="img"/>-->
<!--                    <a href="#">-->
<!--                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Post title</h5>-->
<!--                    <p class="card-text">-->
<!--                        Some quick example text to build on the card title and make up the bulk of the-->
<!--                        card's content.-->
<!--                    </p>-->
<!--                    <a href="#" class="btn btn-primary">View Collection</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4 col-md-12 mb-4">-->
<!--            <div class="card">-->
<!--                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">-->
<!--                    <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" alt="img"/>-->
<!--                    <a href="#">-->
<!--                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Post title</h5>-->
<!--                    <p class="card-text">-->
<!--                        Some quick example text to build on the card title and make up the bulk of the-->
<!--                        card's content.-->
<!--                    </p>-->
<!--                    <a href="#" class="btn btn-primary">View Collection</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
</div>
</div>
<!--if-->
<!--<div th:if="${similarTitle == null}" class="p-4 m-4 shadow-4 rounded-3 jumbotron text-center" style="background-color: lightgrey;">-->

<!--    <h3>WE WILL SUGGEST COLLECTIONS LIKE YOURS WHEN THEY BECOME AVAILABLE !</h3>-->

<!--</div>-->
<!--else-->
<!--<div  class="p-4 m-4 shadow-4 rounded-3 jumbotron text-center" style="background-color: lightgrey;">-->
<!--<h3>COLLECTIONS BY USERS LIKE YOU !</h3>-->
<!--</div>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-lg-4 col-md-12 mb-4" th:each="SimilarTitle: ${similarTitle}">-->
<!--            <div class="card" >-->
<!--                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">-->
<!--                    <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" alt="img"/>-->
<!--                    <a href="#">-->
<!--                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="card-body" >-->
<!--                    <h5 class="card-title" th:text="${SimilarTitle.title}"></h5>-->
<!--                    <p class="card-text" th:text="${SimilarTitle.description}">-->
<!--                        <button >-->
<!--                            <a href="/collection/{id}" class="btn btn-primary" th:method="GET">View Collection</a>-->
<!--                        </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

</body>
<!--<script th:src="@{/webjars/jquery/jquery.min.js}"></script>-->
<!--<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>-->
<!--<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->
<footer th:include="partials/footer :: footer"></footer>
<script src="/../../../js/homePage.js" rel="script" type="application/javascript"></script>
</html>