<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head th:include="partials/head :: headStylesheets">
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<body>
<!--class="parallax-window" data-parallax="scroll" data-image-src="/../media/geoBackground.png"-->

<!--nav partial-->

<nav th:replace="partials/header :: navbar"></nav>
<!--<input type="hidden" name="userId" th:value="${#authentication.principal}">-->
<div sec:authorize="isAuthenticated()" style="display: none">
    User ID: <span id="currentUser" th:text="${#authentication.principal.id}"/>
</div>

<!--modal-->
<div sec:authorize="!isAuthenticated()"
     class="modal fade"
     id="registerModal"
     tabindex="-1"
     aria-labelledby="registrationModalLabel"
     aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="registrationModalLabel" style="text-align: center">Register</h5>
                <button
                        type="button"
                        class="btn-close"
                        data-mdb-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>


            <div class="modal-body justify-content-center">
                <form th:action="@{/sign-up}" method="post" th:object="${user}">
                    <div class="form-group ">
                        <label for="firstName">First Name</label>
                        <input required name="first_name" th:type="text" class="form-control" id="firstName"
                               placeholder="Enter First Name"
                               th:field="*{firstName}"/>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input required type="text" class="form-control" id="lastName" placeholder="Enter Last Name"
                               th:field="*{lastName}"/>
                    </div>
                    <div class="form-group">
                        <label for="userName">Username</label>
                        <input required type="text" class="form-control" id="userName" placeholder="Enter Username"
                               th:field="*{username}"/>
                    </div>

                    <div class="form-group">
                        <label for="reg_user_email">Email address</label>
                        <input required type="email" class="form-control" id="reg_user_email"
                               aria-describedby="emailHelp"
                               placeholder="Enter Email" th:field="*{email}"/>
                    </div>
                    <div class="form-group">
                        <label for="reg_password">Password</label>
                        <input required type="password" class="form-control" id="reg_password" placeholder="Password"
                               th:field="*{password}"/>
                        <!--                        <small>Strength meter</small>-->
                        <div id="meter_wrapper" class="mt-3">
                            <div id="meter"></div>
                        </div>
                        <span id="pass_type"></span>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password</label>
                        <input required type="password" class="form-control" id="confirm_password"
                               placeholder="Confirm Password"/>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="newsLetterCheck"/>
                        <label class="form-check-label" for="newsLetterCheck">Check if you would like to join our
                            newsletter!</label>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                            Close
                        </button>

                        <button type="submit" class="btn btn-primary">Confirm</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--modal ends-->


<div class="p-4 m-4 shadow-4 rounded-3 jumbotron text-center row screenBanner" style="background-color: white;">
    <div class="row screenRow">
        <div class="col-6"><p class="homeVideoBanners small">
            Create time stamped notes on YouTube videos which can be organized into collections and shared among our community.</p>
            <hr> <h4> Click the video for more info</h4>

        </div>
        <div class="col-6 homePlayer">
            <div class="video-container text-center">
                <iframe id="videoPlayer" width="auto" height="100%" src="https://www.youtube.com/embed/LpHhhZylwko?enablejsapi=1"
                        title="YouTube video player"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <hr>
    <h3 class="Cbanners">ENJOY THESE THOUGHTFULLY ASSEMBLED COLLECTIONS</h3>

</div>


<div id="cardContainerHome" class='bg-image hover-overlay ripple resultsContainer' data-mdb-ripple-color='light'></div>

<hr>

<!--Have you ever watched a long YouTube video and forgotten where you saw or heard
                some important/useful information? Well, at Annotation Station you'll never lose them again. Here, you'll be
                able to create timestamped notes of your favorite YouTube videos, share them with the community or even
                save them to your own personal collection. -->

<footer th:include="partials/footer :: footer"></footer>
<script src="/js/homePage.js" rel="script"></script>
<!--<script src="/js/parallax.js" rel="script"></script>-->
<script th:src="@{/js/passwordScript.js}"></script>
</body>
</html>