<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head th:include="partials/head :: headStylesheets">
    <meta charset="UTF-8">
    <title>Index</title>

</head>

<body>
<!--nav partial-->

<nav th:replace="partials/header :: navbar"></nav>

<!--modal-->
<div sec:authorize="!isAuthenticated()"
     class="modal fade"
     id="registerModal"
     tabindex="-1"
     aria-labelledby="registrationModalLabel"
     aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="registrationModalLabel" style="text-align: center">Register</h5>
                <button
                        type="button"
                        class="btn-close"
                        data-mdb-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>


            <div class="modal-body">
                <form th:action="@{/sign-up}" method="post" th:object="${user}">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input required name="first_name" th:type="text" class="form-control" id="firstName"
                               placeholder="Enter First Name"
                               th:field="*{firstName}"/>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input required type="text" class="form-control" id="lastName" placeholder="Enter Last Name"
                               th:field="*{lastName}"/>
                    </div>
                    <div class="form-group">
                        <label for="userName">Username</label>
                        <input required type="text" class="form-control" id="userName" placeholder="Enter Username"
                               th:field="*{username}"/>
                    </div>

                    <div class="form-group">
                        <label for="reg_user_email">Email address</label>
                        <input required type="email" class="form-control" id="reg_user_email"
                               aria-describedby="emailHelp"
                               placeholder="Enter Email" th:field="*{email}"/>
                        <!--                        <p th:text="${errorMessage1}" class="alert-danger"></p>-->
                    </div>
                    <div class="form-group">
                        <label for="reg_password">Password</label>
                        <input required type="password" class="form-control" id="reg_password" placeholder="Password"
                               th:field="*{password}"/>
                        <small>Strength meter</small>
                        <div id="meter_wrapper">
                            <div id="meter"></div>
                        </div>
                        <span id="pass_type"></span>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password</label>
                        <input required type="password" class="form-control" id="confirm_password"
                               placeholder="Confirm Password"/>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="newsLetterCheck"/>
                        <label class="form-check-label" for="newsLetterCheck">Check if you would like to join our
                            newsletter!</label>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                            Close
                        </button>

                        <button type="submit" class="btn btn-primary">Confirm</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--modal ends-->
<div class="p-4 m-4 shadow-4 rounded-3 jumbotron text-center" style="background-color: lightgrey;">
    <h2>WELCOME TO THE STATIONS PUBLIC LIBRARY</h2>
    <br>
    <h3>ENJOY THOUGHTFULLY ASSEMBLED COLLECTIONS OF NOTES</h3>

</div>

<div class="p-4 m-4 shadow-4 rounded-3 jumbotron text-center" style="background-color: lightgrey;">
    <h3>COLLECTIONS CURATED BY OUR ANNOTATION TEAM</h3>
</div>


<div id="cardContainer" class='bg-image hover-overlay ripple resultsContainer' data-mdb-ripple-color='light'></div>



<div id="cardContainerHome" class='bg-image hover-overlay ripple resultsContainer' data-mdb-ripple-color='light'></div>

<footer th:include="partials/footer :: footer"></footer>
<script src="/js/homePage.js" rel="script"></script>
<script th:src="@{/js/passwordScript.js}"></script>
</body>
</html>