<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Single-Collection</title>
    <link th:href="@{/css/collectionPageStyle.css}" rel="stylesheet">
</head>
<meta charset="UTF-8">
<title>Title</title>

<body>
<h1>Single Collection</h1>
<p th:text="${singleCollection.title}"></p>
<p th:text="${singleCollection.description}"></p>
<p th:text="${singleCollection.image}"></p>

<h1 th:each="Section: ${allSections}">
<p th:text="${Section.title}"></p>
<p th:text="${Section.id}"></p>
</h1>


<!--display comments-->
<!--<form th:action="@{/comment/create}" th:method="post" th:object="${Comment}">-->
<!--    Title:-->
<!--    <input th:field="*{comment}" />-->
<!--    <br />-->
<!--    <input type="submit" />-->
<!--</form>-->

<h1 th:each="Comment: ${allComments}">
    <p th:text="${Comment.comment}"></p>
</h1>
</body>
</html>